@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;

}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
font-size: 0.8rem;
}


button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

}

.link_header{
  border-bottom: 1px solid black;
}